<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
    <div>
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">


                <ul class="list-unstyled components">
                    <p>Dashboard</p>
                    <li class="active">
                        <a href="../../" >Home</a>
                        
                    </li>
                    <li>
                        <a href="../Dashboard/UserList">User List</a>
                    </li>                    
                    <li>
                        <a href="../Dashboard/ReportList">Reported Comment</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                    </li>
                    <li>
                        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                      

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li>
                                <div class="d-flex right-item">
                                    <img src="~/images/logout.jpg" />
                                    <span id="logout-btn">Đăng xuất</span>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                @RenderBody()
            </div>

        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Dashborad.js">

    </script>
    <script>
        $("#logout-btn").on("click", function () {
            if (confirm("Bạn chắc chắn muốn đăng xuất?")) {
                window.location.href = "/Auth/Logout";
            };
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>


</html>
