body {
    background-color: #F8F6F2;
}
.the-one-div{
    background-color: white;
    padding: 0;
}
input {
    background-color: #F8F6F2;
}

.section {
    background-color: white;
    padding: 0 20px 0 20px;
    margin: 0;
}

.clickable {
    cursor: pointer;
    font-weight: 500;
}

#descriptionBox {
    height: 77px;
    font-size: 20px;
}

#nameBox {
    font-size: 32px;
    font-weight: 600;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 450px;
    margin-bottom: 20px;
}

    .fill img {
        flex-shrink: 0;
        width: 100%;
        height: 100%
    }

.tableTitle {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ingredientsTable input {
    width: 100%;
}

.step-img {
    width: 200px;
    border-radius: .5rem;
    margin: 10px;
    margin-left: 25px;
    display: block;
}
.step-div{
    margin-bottom: 10px;
    font-size: 19px;
}

.form-rounded {
    border-radius: 1rem;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    /*resize: both;*/
    min-height: 20px;
    line-height: 20px;
    resize: none;
    padding:10px;
}

    .textarea[contenteditable]:empty::before {
        content: "Placeholder still possible";
        color: gray;
    }

.reply {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}

.comment-content{
    margin-left: 15px
}

.commentId{
    display: none;
}

.replies-section{
    margin-top: 0.5rem;
    width: 180%
}

.delCmt, .editCmt, .reportCmt {
    cursor: pointer;
    margin-left: 10px;
}

.dropdown-section {
    padding-top: 15px;
}

.react-btn {
    border: 1px solid grey;
    border-radius: 20px;
    color: black;
    padding: 5px 5px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.react-btn-active {
    border: 1px solid orange;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    color: orangered;
    padding: 5px 5px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.reply-box{
    margin: 0 60px;
}

.reaction-toggle{
    text-decoration: none;
    color: dimgrey;
    margin-left: 20px;
    font-size: 12px
}

.reaction-toggle :hover{
    text-decoration: none;
    color: darkgrey;
}

#react-list-modal .modal-content{
    min-height: 500px;
}

#react-list-modal li{
    padding: 0 10px;
    margin: 0px 5px;
}

#react-list-modal li .active {
    border-bottom: 1px solid orangered;
}
